@charset "utf-8";

/* layout */
#header {width: 100%; height: 63px; /*background-color: #ccc;*/ border-bottom: 1px solid #c6c6c6;}

/* container */
.container {
	position: relative; /* 기준점을 잡기 쉽게 하기 위하여 */
	width: 1280px; height: inherit;
	margin: 0 auto;
	/*background-color: rgba(0,0,0,0.4);*/
}

/* row */
.row {padding: 0 28px;}

/* header */
.header {}
.header h1 {float: left;}
	.header h1 em {padding: 15px 8px 5px 0; display: inline-block;}
	.header h1 em img {width: 155px;}
	.header h1 strong {display: block; position: absolute; left: 194px; top: 24px;}
	.header h1 strong img {width: 126px;}
.header .nav {float: right;}
	.header .nav ul {border-left: 1px solid #c6c6c6;}
	.header .nav li {
		float: left; /* 메뉴 항목 사이에 보더값이 딱 맞춰서 들어가야 하기 때문에 display: inline; 은 적합하지 않습니다 */
		width: 103px; text-align: center; border-right: 1px solid #c6c6c6;
	}
	.header .nav li a {display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color: #444;}