@charset "utf-8";

/* layout */
#mNav {display: none; position: absolute; top: 10px; right: 14px;}

#header {width: 100%; /*background-color: #ccc;*/ border-bottom: 1px solid #c6c6c6;}
#banner {position: relative;}

/* container */
.container {
	position: relative; /* 기준점을 잡기 쉽게 하기 위하여 */
	width: 1280px; height: inherit;
	margin: 0 auto;
	/*background-color: rgba(0,0,0,0.4);*/
}

/* row */
.row {padding: 0 28px;}

/* mobile menu */
.ham {display: block; width: 25px; height: 10px; /*background-color: #ccc;*/ padding: 15px 10px 10px 10px;}
.ham span {display: block; width: 25px; height: 4px; background-color: #39106a; position: relative;}
.ham span:before {
	content: ''; width: 25px; height: 4px; background-color: #39106a;
	position: absolute; left: 0; bottom: -7px;
}
.ham span:after {
	content: ''; width: 25px; height: 4px; background-color: #39106a;
	position: absolute; left: 0; top: -7px;
}


/* header */
.header {}
.header h1 {float: left;}
	.header h1 em {padding: 15px 8px 5px 0; display: inline-block;}
	.header h1 em img {width: 155px;}
	.header h1 strong {display: block; position: absolute; left: 194px; top: 24px;}
	.header h1 strong img {width: 126px;}
.header .nav {float: right;}
	.header .nav ul {border-left: 1px solid #c6c6c6;}
	.header .nav li {
		float: left; /* 메뉴 항목 사이에 보더값이 딱 맞춰서 들어가야 하기 때문에 display: inline; 은 적합하지 않습니다 */
		width: 103px; text-align: center; border-right: 1px solid #c6c6c6;
	}
	.header .nav li a {display: block; padding: 19px 10px; font-size: 17px; font-weight: 700; color: #444;}


/* banner */
.banner_menu {
	position: absolute; left: 0; top: 20px; width: 100%; height: 100px;
	overflow: hidden;
	z-index: 10;
}
.banner_menu a {color: #fff; font-size: 16px; transition: all .3s;}
.banner_menu a:hover {color: #c1c1c1;}
.banner_menu li.line {position: relative;}
.banner_menu li.line:after {content: ''; width: 1px; height: 14px; background-color: #fff; position: absolute; right: -18px; top: 2px;}
.banner_menu .ban_l {float: left;}
	.banner_menu .ban_l ul {padding-top: 7px;}
	.banner_menu .ban_l li {display: inline; margin-right: 30px;}
	.banner_menu .ban_l li.total {margin-right: 20px;}
	.banner_menu .ban_l li.total a {font-size: 14px; padding: 3px 10px; display: inline-block; border: 1px solid #fff; transition: all .3s;}
	.banner_menu .ban_l li.total a:hover {background-color: #fff; border-color: #000; color: #000;}
.banner_menu .ban_r {
	float: right;
	overflow: hidden;}
	.banner_menu .ban_r ul {float: left;}
	.banner_menu .ban_r ul:first-child {padding-top: 7px;}
	.banner_menu .ban_r li {display: inline; text-align: center; margin-right: 20px;}
	.banner_menu .ban_r li.line {margin-right: 30px;}
	.banner_menu .ban_r li.white {margin-right: 10px;}
	.banner_menu .ban_r li.white a {width: 80px; background-color: #fff; color: #3a0e6a; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #fff;}
	.banner_menu .ban_r li.purple {margin-right: 0;}
	.banner_menu .ban_r li.purple a {width: 80px; background-color: #3a0e6a; color: #fff; padding: 7px 30px 9px 30px; display: inline-block; border: 1px solid #6e40c4;}



/* slide */
.slider {width: 100%; height: 600px;}
.slider .ss1 {background: url(../img/main_slider01_2000.jpg) no-repeat center; background-size: cover;}
.slider .ss2 {background: url(../img/main_slider02_2000.jpg) no-repeat center; background-size: cover;}
.slider .ss3 {background: url(../img/main_slider03_2000.jpg) no-repeat center; background-size: cover;}

.slider .swiper-slide h2 {font-size: 62px; line-height: 70px; color: #fff; margin-top: 200px; position: relative; display: inline-block;}
.slider .swiper-slide h2:after {content:''; width: 100%; height: 1px; background: rgba(255, 255, 255, 0.3); position: absolute; left: 0; bottom: -35px;}
.slider .swiper-slide h2 em {display: block; font-size: 59px; font-weight: 100;}
.slider .swiper-slide p {font-size: 27px; color: #fff; padding-top: 55px;}


/* movie */
.movie {padding: 100px 0;}
.movie_title {margin-bottom: 60px;}
.movie_title ul {overflow: hidden; width: 848px; margin: 0 auto;}
.movie_title li {float: left; width: 210px; text-align: center; border: 1px solid #c4c4c4; margin-right: -1px;}
.movie_title li a {display: block; padding: 15px 0; font-size: 18px; color: #666; font-weight: 700;}
.movie_title li.active a {background-color: #666; color: #fff;}

.movie_chart {overflow: hidden; height: 592px;}
.movie_chart > div > div > div {float: left; width: 292px; height: 592px; /*border: 1px solid #c4c4c4;*/ margin-right: 18px;}
.movie_chart > div > div > div:last-child {margin-right: 0;}
.movie_chart > div > div > div .poster {position: relative;}
.movie_chart > div > div > div .poster img {display: block;} /* 이미지가 inline구조라서 생긴 사진 밑에 여백 없애주기 위함 */
.movie_chart > div > div > div .poster .rank {position: absolute; top: 17px; left: 0; width: 50px; height: 50px; font-size: 22px; box-shadow: 3px 3px 8px rgba(0,0,0,0.5); line-height: 50px; background-color: #38116a; text-align: center;}
	.movie_chart > div > div > div .poster .rank strong {color: #fff; text-shadow: 2px 2px 3px rgba(0,0,0,0.5); }
.movie_chart > div > div > div .poster .mx {position: absolute; top: 17px; right: 17px;}
	.movie_chart > div > div > div .poster .mx span {width: 103px; height: 25px; display: block;} /* MX 와 Boutique 이미지의 사이즈를 미리 지정해놓음 */
	.movie_chart > div > div > div .poster .mx .m {background-position: 0 -75px;}
	.movie_chart > div > div > div .poster .mx .b {background-position: 0 -100px;}
.movie_chart > div > div > div .info {background-color: #fff; padding: 17px; border: 1px solid #d9d9d9;}
	.movie_chart > div > div > div .info h3 {color: #333; font-size: 30px; font-weight: 700; margin-bottom: 20px;}
	.movie_chart > div > div > div .info h3 span {
		width: 29px; height: 29px; display: inline-block; margin-top: 9px; /* 관람가등급 이미지의 사이즈를 미리 지정해놓음 */
		vertical-align: -2px; /* 관람가등급 이미지와 텍스트를 수평선에 놓기 위함 */
	}
	.movie_chart > div > div > div .info h3 span.all {background-position: -87px -125px}
	.movie_chart > div > div > div .info h3 span.a12 {background-position: 0px -125px}
	.movie_chart > div > div > div .info h3 span.a15 {background-position: -29px -125px}
	.movie_chart > div > div > div .info h3 span.a19 {background-position: -58px -125px}
	.movie_chart > div > div > div .info .info_btn {overflow: hidden;}
	.movie_chart > div > div > div .info .info_btn a {float: left; text-align: center; width: 49%; margin-right: 2%; background: #f2f2f2; font-size: 18px; padding: 15px; box-sizing: border-box;}
	.movie_chart > div > div > div .info .info_btn a:last-child {margin-right: 0;}




/* mediaquery */
/* 화면너비 0 ~ 1220px */
@media (max-width: 1290px){ /* 여유있게 */
	.container {width: 100%;}
	
	.header .nav ul li {width: 93px;}
	.header .nav ul li a {font-size: 15px; padding: 17px 10px;}
	.header h1 em {padding: 11px 8px 5px 0;}
	.header h1 strong {top: 19px;}

	.swiper-button-prev, .swiper-button-next {display: none;}
}
@media (max-width: 1024px){
	#mNav {display: block;}
	.row {padding: 0 24px;}

	.header h1 {float: none; text-align: center;}
	.header h1 strong {left: 24px;}
	.header .nav {display: none;}

	.banner_menu .ban_l ul {display: none;}
	.banner_menu .ban_r ul:first-child {display: none;}
}
@media (max-width: 960px){
	.slider {height: 500px;}
	.slider .swiper-slide h2 {margin-top: 170px; font-size: 37px; line-height: 45px;}
	.slider .swiper-slide h2:after {bottom: -15px;}
	.slider .swiper-slide h2 em {font-size: 34px;}
	.slider .swiper-slide p {font-size: 16px; padding-top: 35px;}
}
@media (max-width: 768px){
	.row {padding: 0 16px;}
	#mNav {right: 6px;}

	.header h1 {text-align: left;}
	.header h1 strong {display: none;}
}
@media (max-width: 600px){
	.banner_menu {top: 16px;}
	.banner_menu .ban_r li.white a {font-size: 14px; padding: 3px 5px 5px 5px; color: #fff; background: rgba(0,0,0,0.6); border-color: #fff;}
	.banner_menu .ban_r li.purple a {font-size: 14px; padding: 3px 5px 5px 5px; color: #fff; background: rgba(0,0,0,0.6); border-color: #fff;}

	.slider {height: 400px;}
	.slider .swiper-slide h2 {margin-top: 140px; font-size: 24px; line-height: 30px;}
	.slider .swiper-slide h2:after {bottom: -5px;}
	.slider .swiper-slide h2 em {font-size: 20px;}
	.slider .swiper-slide p {font-size: 14px; padding-top: 25px;}

	.swiper-pagination-bullet {width: 13px !important; height: 13px !important;}
}
@media (max-width: 480px){
	
}
@media (max-width: 320px){
	
}





















